@media (prefers-color-scheme: dark) {
	body,
	button {
		background: #0c0c0c;
		color: #bbddc4;
	}
	#sync-state {
		color: black;
	}

	.card,
	form {
		background-color: rgb(24, 24, 25);
	}

	button {
		border-style: solid;
		border-color: rgb(53, 53, 53);
		background-color: rgb(53, 53, 53);

		&:hover {
			border-bottom-color: var(--c-accent, yellow);
		}

		&:active {
			background-color: black;
			color: rgb(120, 120, 120);
		}
	}

	a:link {
		color: orange;
	}

	.sub-text {
		color: rgb(139, 139, 139);
	}
}

a:hover {
	filter: brightness(1.4);
}

label:has(input[type="checkbox"]:checked, input[type="radio"]:checked) {
	text-decoration: underline;
	color: var(--c-accent, yellow);
}
label:has(input[type="checkbox"]) {
	&:hover,
	& input {
		cursor: pointer;
	}
}
button:hover {
	cursor: pointer;
}

form {
	&[data-state="idle"] {
		border-bottom: solid 5px skyblue;
	}
	&[data-state="success"] {
		border-bottom: solid 5px green;
		& > .response-message {
			border-color: green;
		}
	}
	&[data-state="error"] {
		border-bottom: solid 5px red;
		& > .response-message {
			border-color: red;
		}
	}

	/* ? non native attributes must be in brackets */
	&[disabled] {
		border-top: dashed 4px grey;
		cursor: not-allowed;
		opacity: 0.6;
	}
}

form {
	display: grid;
	padding: 1rem;
	gap: 1rem;
	transition-duration: 500ms;
	transition-property: border-color, color;
	transition-timing-function: ease-out;
	max-width: 30rem;
	border: solid rgba(128, 128, 128, 0.253) 1px;
	box-shadow: rgba(0, 0, 0, 0.081) 3px 3px 8px;
	position: relative;

	& > label {
		display: grid;
		gap: 0.2rem;

		&:has(input[type="hidden"]) {
			display: none;
		}
	}
	& label:has(input[type="radio"]) {
		display: flex;
	}
	& > .response-message {
		border-left-width: 5px;
		border-left-style: solid;
		padding-inline: 1rem;
		transition-duration: 500ms;
		transition-property: border-color, color;
		transition-timing-function: ease-out;
	}
	& > .response-message:empty {
		display: none;
	}
}

button.delete {
	position: absolute;
	top: 0;
	right: 0;
	&:hover {
		background-color: red;
		color: white;
	}
}

.card {
	border-radius: 3px;
	box-shadow: rgba(0, 0, 0, 0.27) 3px 3px 3px;
	margin: 0;
	padding: 1rem;

	& h3:first-child {
		margin-top: 0;
		text-transform: capitalize;
	}

	& a {
		text-decoration: none;

		&:hover h3 {
			text-decoration: underline dotted;
		}
	}
}

.sub-text {
	margin-top: 0;
}
.vote-field {
	display: flex;
	align-items: center;
	justify-content: space-between;

	& .inputs {
		display: flex;
		gap: 0.2rem;
		align-items: center;

		& button {
			font-size: 1.5rem;
			padding: 0.6rem;
		}
	}
}

.grid-list {
	display: grid;
	gap: 1rem;
}
.grid-tiles {
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(auto-fill, minmax(min(100%, 150px), 20rem));
}

#sync-state {
	background-color: rgb(177, 177, 177);
	border-radius: 30%;
	width: 20px;
	display: grid;
	place-items: center;
	position: absolute;
	top: 10px;
	right: 10px;
	/* place-content: center; */
	/* width: 10px; */
	transition-property: background-color;
	transition-duration: 400ms;

	&[data-sync-state="connecting"] {
		background-color: rgb(112, 112, 124);
	}
	&[data-sync-state="paused"] {
		background-color: rgb(171, 210, 168);
	}
	&[data-sync-state="syncing"] {
		background-color: rgb(1, 181, 1);
	}
	&[data-sync-state="connected"] {
		background-color: rgb(136, 141, 226);
	}
	&[data-sync-state="error"] {
		background-color: rgb(196, 63, 63);
	}
}

/** ANIMATION */
.anim-fade-in {
	opacity: 0;
	animation: fadeIn 1s ease-in forwards;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(10px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
.emoji-thumbnail {
	& .delete-btn {
		transition: opacity, scale 300ms;
		scale: 0.7;
		transform-origin: 25% 25%;
		opacity: 0;
	}
	&:hover .delete-btn {
		opacity: 1;
		scale: 1;
	}
}
