:root {
	--polka-bg-image: radial-gradient(rgb(10, 12, 10) 10%, transparent 22.4%),
		radial-gradient(rgb(20, 20, 20) 10%, transparent 22.4%),
		radial-gradient(rgb(17, 17, 17) 10%, transparent 22.4%),
		radial-gradient(rgb(14, 14, 14) 10%, transparent 22.4%);
	--polka-bg-position: 0px 0px, 36px 36px, -3.6px 3.6px, 32.4px 39.6px;
	--polka-bg-size: 72px 72px;
	--polka-bg-color: rgb(8, 9, 5);
}

.polka-dots {
	background-image: var(--polka-bg-image);
	background-position: 0px 0px, 36px 36px, -3.6px 3.6px, 32.4px 39.6px;
	background-size: var(--polka-bg-size);
	background-color: rgb(16, 18, 14);
}

#playfield {
	display: grid;
	gap: 1rem;
	padding: 1rem;
	background-color: rgb(10, 10, 10);
}

.score {
	text-align: center;
	padding: 1rem;
	border: solid 1px white;
	background-color: blue;
	width: minmax(10rem, 15rem);
	margin-inline: auto;
}

ul#answers {
	display: grid;
	/* TODO collaps into one column on smaller screen */
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(4, auto);
	grid-auto-flow: column;
	gap: 10px; /* optional spacing */
	list-style: none;
	padding: 0;

	& > li {
		border: solid white 1px;
		background-color: slategrey;
		padding: 0.2rem;
		text-align: center;
	}
}

.answer:has(input[type="checkbox"].points:checked) {
	outline: dashed yellow 2px;
}

.teams {
	gap: 1rem;
	& > div {
		& > h2 {
			margin-top: 0;
		}
		padding: 1rem;
		background-color: rgb(28, 28, 28);
	}
}

.team {
	position: relative;
}

.team.active {
	border: solid yellow 1px;
	box-shadow: rgba(255, 255, 0, 0.397) 3px 3px 3px;
}

.steal-badge {
	opacity: 0.1;
	/* TODO don't use absolute, make a 2 column layout */
	position: absolute;
	top: 0;
	right: 0;
	background-color: red;
	color: white;
	padding: 0.5rem;
	text-align: center;
}

.winner-badge {
	opacity: 0.1;
	/* TODO don't use absolute, make a 2 column layout */
	position: absolute;
	bottom: 0;
	right: 0;
	background-color: rgb(98, 177, 130);
	color: white;
	padding: 0.5rem;
	text-align: center;
}

.team.winner .winner-badge {
	opacity: 1;
}

.round-steal .team:not(.active) .steal-badge {
	opacity: 1;
}
body[data-round-type="face-off"] {
	#strikes-and-steal,
	#round-score-wrap {
    cursor: not-allowed;
		opacity: 0.1;
		label, span {
			cursor: not-allowed;
		}
		input {
			pointer-events: none;
		}
	}
}

.strikes {
	text-align: center;
	font-size: 3rem;

	& > label > input {
		width: 2rem;
		height: 2rem;
	}
}
