:root {
	--polka-bg-image: radial-gradient(rgb(71, 71, 71) 10%, transparent 22.4%),
		radial-gradient(rgb(61, 61, 61) 10%, transparent 22.4%),
		radial-gradient(rgb(31, 31, 31) 10%, transparent 22.4%),
		radial-gradient(rgb(28, 28, 28) 10%, transparent 22.4%);
	--polka-bg-position: 0px 0px, 36px 36px, -3.6px 3.6px, 32.4px 39.6px;
	--polka-bg-size: 72px 72px;
	--polka-bg-color: rgb(45, 46, 44);
}

.polka-dots {
	background-image: var(--polka-bg-image);
	background-position: 0px 0px, 36px 36px, -3.6px 3.6px, 32.4px 39.6px;
	background-size: var(--polka-bg-size);
	background-color: rgb(45, 46, 44);
}

#playfield {
	display: grid;
	gap: 1rem;
	padding: 1rem;
	background-color: rgb(0, 0, 0);
}

.score {
	text-align: center;
	padding: 1rem;
	border: solid 1px white;
	background-color: blue;
	width: minmax(10rem, 15rem);
	margin-inline: auto;
}

ul#answers {
	display: grid;
	/* TODO collaps into one column on smaller screen */
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(4, auto);
	grid-auto-flow: column;
	gap: 10px; /* optional spacing */
	list-style: none;
	padding: 0;

	& > li {
		border: solid white 1px;
		background-color: slategrey;
		padding: 1rem;
		text-align: center;
	}
}

.teams {
  gap: 1rem;
  & > div {
    & > h2 {
      margin-top: 0;
    }
    padding: 1rem;
    background-color: rgb(28, 28, 28);
  }
}